.projects {
  grid-area: pr;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  &__img {
    position: relative;
    &-gear {
      height: 28rem;
      transition: transform 120s;
    }
    &-bulb {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 8rem;
    }
  }
  &__text {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    bottom: 3.2rem;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #51cf66;
    text-shadow: 0 0 0.5rem #51cf6663;
    writing-mode: vertical-rl;
    text-orientation: upright;
    opacity: 0;
    transition: opacity 5s;
  }
}

.projects-full {
  margin: 5rem auto;
  height: 100rem;
  max-width: 100rem;
  border: 1px solid #3bc9db;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__header {
    position: absolute;
    left: 50%;
    top: 3.2rem;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 5.2rem;
    color: #51cf66;
    text-shadow: 0 0 0.5rem #51cf6663;
    margin-top: 3.2rem;
  }
  &__projects {
    display: flex;
    gap: 8rem;
    &__box {
      height: 50rem;
      width: 30rem;
      border: 1px solid #3bc9db;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &:hover {
        box-shadow: 2px 3px 6px 3px rgba(255, 255, 255, 0.05);
      }
      &__title {
        margin-top: 1.6rem;
        font-size: 2.4rem;
        color: #51cf66;
      }
      &__btns {
        width: 100%;
        margin-bottom: 1.6rem;
        display: flex;
        justify-content: space-between;
        &-github {
          margin-left: 1.6rem;
          height: 3rem;
          width: 3rem;
          opacity: 0.5;
          &:hover {
            border: 1px solid #3bc9db;
            border-radius: 7px;
            width: 35%;
          }
        }
        &-live {
          padding-right: 1.6rem;
          height: 3rem;
          width: 3rem;
          border-radius: 100px;
          opacity: 0.5;
          &:hover {
            border: 1px solid #3bc9db;
            border-radius: 7px;
            width: 35%;
          }
        }
      }
    }
  }
  &__bulb {
    height: 18rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 4s;
    transform: translate(-50%, -240%);
    &-number {
      font-size: 6rem;
      color: #3bc9db;
      position: absolute;
      left: 50%;
      top: 27%;
      transform: translate(-50%, -50%);
    }
    &-img {
      height: 100%;
      opacity: 1;
    }
  }
  &__gear1 {
    @include projFullGears;
    left: 3.2rem;
    top: 3.2rem;
  }
  &__gear2 {
    @include projFullGears;
    right: 3.2rem;
    top: 3.2rem;
  }
  &__gear3 {
    @include projFullGears;
    right: 3.2rem;
    bottom: 3.2rem;
  }
  &__gear4 {
    @include projFullGears;
    left: 3.2rem;
    bottom: 3.2rem;
  }
}
