@mixin projFullGears {
  width: 10rem;
  position: absolute;
  transition: all 1000s;
  cursor: pointer;
}
@mixin opacity5s {
  transition: opacity 5s;
  opacity: 0;
}

@mixin navigationActive {
  border-radius: 20px;
  background-color: rgba(59, 200, 219, 0.2);
  color: #51cf66;
  pointer-events: none;
}
